@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);
*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #105469;
  font-family: 'Open Sans', sans-serif;
}

#boiteDemandesSection{
    color: rgb(255, 190, 10);
   background: url(../img/background-v2.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;height:250px;
}

#boiteDemandesSection h1{

    padding:10px 15px 19px 15px ;
    display: inline-block;
    background-color: rgba(55, 55, 55, 0.716);
    border-radius: 10px;
    margin-top: 20px;
}

#boiteDemandesContainer{
    height: 500px;
}
footer{
    color:white;
}



table {
  background: #012B39;
  border-radius: 0.25em;
  border-collapse: collapse;
  margin: 1em;
}
th {
  border-bottom: 1px solid #364043;
  color: #E2B842;
  font-size: 0.85em;
  font-weight: 600;
  padding: 0.5em 1em;
  text-align: left;
}
td {
  color: #fff;
  font-weight: 400;
  padding: 0.65em 1em;
}
.disabled td {
  color: #4F5F64;
}
tbody tr {
  transition: background 0.25s ease;
}
tbody tr:hover {
  background: #014055;
}
#accueilSec{
    height: 700px;
}
section hr{
  width: 100px;
  border: 8px dashed yellow;
  border-color: #dbaa0c;
  
 
}
#notificationSec{

    height: 100vh;
}
/*** page d'index (la premiere page du notre site web) ***/
#welcomeSec {
  color: rgb(255, 190, 10);
   background: linear-gradient(to top, transparent 0%, black 100%), url(../img/campus-entry-v1.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;height:400px;
}
#nav a{
  color:white;
  text-decoration: none;
}
#nav{
  display: flex;
  height: 60px;
  background-color: #141414;
  justify-content: space-between;
  color: white;
}
#listBtns {
  display: flex;
  height: 100%;
align-items: center;
}
#listBtns ul{
  display: flex;
  gap: 10px;
  list-style-type: none;
  cursor: pointer;
  margin: 0;
}
#listBtns li:hover{
color: #5b5c5c;
}
#authBtns{
  display: flex;
  gap: 10px;
  padding: 0px 10px 0px 10px;
text-decoration: none;
align-items: center;

height: 100%;
}
#authBtns a{
  height: 40px;
}

#nav #listBtns ul{
  text-decoration: none;
}
#notificationSec form{
  border: 1px solid #012B39;
  margin-top: 20px;
  padding: 30px;
  border-radius: 20px;
  width: 100%;
}
#notificationSec h1{
  margin-top: 20px;
  margin-left: 20px;
  display:inline-block;
border-bottom: 9px solid #FAA61F; 
}